<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrapLight")
    @Styles.Render("~/Content/playerTheme")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Startplayer")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/ControlTagCanvas")
    <script type="text/javascript" src="Scripts/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="Scripts/jplayer.playlist.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.filedrop.js")" type="text/javascript"></script>
</head>
<body style="width: 90%; padding-left: 5%">
    <header>
        <div class="navbar navbar-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        @Html.ActionLink("Musick Room", "Index", "Home", null, new { @class = "brand" })
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(@ViewResources.SharedString.Statistic, "Graphics", "Statistics")</li>
                        }
                        <li>@Html.ActionLink(@ViewResources.SharedString.Upload, "Index", "UploadTrack")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(@ViewResources.SharedString.PlList, "Index", "PlayLists") </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink(@ViewResources.SharedString.AdminPanel, "ManageUsers", "Account") </li>
                        }
                        <li>@{Html.RenderAction("SearchForm", "Search");}</li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewResources.SharedString.Language
                                <b class="caret"></b>
                            </a>
                            @Html.Partial("CultureChooserUserControl")
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewResources.SharedString.Them
                            <b class="caret"></b>
                            </a>
                            @Html.Partial("ThemeControl")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="width: 100%">
        <div class="row">
            <div class="span14">
                @RenderBody()
            </div>
            <div class="span13" style="float: right">
                <div class="well">
                    @{Html.RenderAction("Index", "TagCloud");}

                </div>
                @{Html.RenderAction("DrugAndDrop", "UploadTrack");}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var element = "a#" + this.id + "a.Count";
        var button = "#" + this.id + ".Like";
        //alert((this.id).val());
        $(".Like").click(function () {
            var id = this.id;
            $.post("/Tracks/Like",
                { trackId: id, },
                function (data) {
                    $('#' + id).text(data + " Like");
                });
            //$.post("/Search/ClearIndex");
            // $.post("/Search/AddToIndex");
        });


        $('.track').click(function () {
            load_track = $(this).attr('data-location');//gets me the url of the new track

            change_track(load_track);// function to change the track of the loaded audio player without page refresh preferred...

        });

        function change_track(sourceUrl) {
            var audio = $("#player");
            $("#mp3_src").attr("src", sourceUrl);
            /****************/
            audio[0].load();//suspends and restores all audio element
            audio[0].play();
            /****************/
            audio = $("<audio>").attr("id", "player")
                       .attr("preload", "auto");
        }


    </script>
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>

